{% extends "main.html" %}
{% block content %}

<body>

	<div>
		<h1>Categories</h1>
				
		<a href="{{url_for('gdisconnect')}}">
			<button class="btn btn-default login">Logout</button> 
		</a>
	</div>


<div class = 'flash'>
			  {% with messages = get_flashed_messages() %}
	  {% if messages %}
		  
		<ul>
		{% for message in messages %}
			<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}

</div>
	
	
	<div>
		<a href="{{url_for('newCategory')}}">
			<button class="btn btn-primary">
				Add Category
			</button>
		</a>
	</div>

	{% for category in categories %}
		<a href = "{{url_for('showItems', category_id = category.id)}}">

			<h3>{{category.name}}</h3>
			<a href="{{url_for('editCategory', category_id=category.id)}}">Edit     </a>

			<a href="{{url_for('deleteCategory', category_id=category.id)}}">Delete</a>
			<hr>

		</a>
	{% endfor %}

</body>
{% endblock %}