{% extends "main.html" %}
{% block content %}

<body>

	<div>
	
		<h1>Items</h1>
				
		<a href="{{url_for('showLogin')}}">
			<button class="btn btn-default login">Login</button> 
		</a>
		
	</div>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			  
			 	<ul>
				{% for message in messages %}
					<li> <strong> {{ message }} </strong> </li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}

	</div>

	<p>
		<a href="{{url_for('showCategories')}}">Go back to Categories</a>
	</p>
		
		</br>
	
	{% for item in items %}
		<a href = "{{url_for('showDescription', category_id = category.id, item_id=item.id)}}">
			
			<h3>{{item.name}}</h3>
			<hr>

		</a>
	{% endfor %}

</body>
{% endblock %}